//======================</VARIABLE>==============================================================

//======================</VARIABLE>==============================================================


//======================RESET=================================================================
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: black;
}

.wrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

//======================</RESET>==============================================================

.title {
   
}
